# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/hackathon-forms?retryWrites=true&w=majority

# NextAuth Configuration
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Moffin API Configuration (if needed)
MOFFIN_API_URL=https://solutions-api.moffin.mx/api/v1
